.column-container {
    display: flex;
    width: calc(100% / 3);
    height: 100%;
    outline: var(--column-separator-width) var(--column-header-color) solid;
    outline-offset: calc(var(--column-separator-width) / 2 * -1);
    overflow-y: auto;
    flex-direction: column;
}

.column-header {
    height: var(--column-header-height);
    outline: var(--column-header-outline);
    background-color: var(--column-header-color);
    color: var(--column-header-text-color);
}

.column-body {
    width: 100%;
    height: 100%;
    background-color: var(--column-background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: var(--order-card-gap);
    gap: var(--order-card-gap);
}