body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  
  /* Global css variables */
  --column-header-height: auto;
  --column-header-color: #e9e9e9;
  --column-header-outline: none;
  --column-background-color: white;
  --column-separator-width: 2px;
  --column-header-text-color: #00aaee;

  --order-header-height: auto;
  --order-header-color: #00aaee;
  --order-header-text-color: white;
  --order-card-gap: 20px;
  --order-card-gap-x: 10px;
  --order-header-text-color-table: rgba(255, 255, 255, 0.84);
  --order-item-gap: 10px;
  --order-item-count-color: #00aaee;
  --sunset-orange: #FF5400;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
